	<footer>
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-md-auto col-lg-auto">
					<div class="redes-footer">
						<a href="https://twitter.com/promujer" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
						<a href="https://www.facebook.com/promujerlatam" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook-official"></i></a>
						<a href="https://www.instagram.com/promujer/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
						<a href="https://www.linkedin.com/company/pro-mujer/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-auto">
					<p class="mb-1"><small>Cualquier duda o comentario envíanos un correo a <a href="mailto:soporte@gliforumlatam.com">soporte@gliforumlatam.com</a></small></p>
					<p><a href="https://gliforumlatam.s3.us-west-2.amazonaws.com/docs/POLITICA+DE+PROTECCION+DE+DATOS.pdf" target="_blank">Aviso de protección de datos</a></p>
				</div>
				<div class="col-lg-2 col-md-2">
					<a href="#"><img src="https://gliforumlatam.s3.us-west-2.amazonaws.com/img/logo-pro-mujer.svg" id="logo-footer" class="img-fluid" alt=""></a>
				</div>
			</div>
		</div>
	</footer>