	<div class="modal fade" id="login-lightbox" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Inicia sesión</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="fal fa-times-circle"></i>
					</button>
				</div>
				<div class="modal-body text-center">
					<form>
						<div class="form-group">
							<label for="loginEmail">Correo Electrónico</label>
							<input type="email" class="form-control" id="loginEmail" placeholder="correo@dominio.com">
						</div>

						<a href="/live" class="btn btn-primary">Ingresar <i class="far fa-sign-in"></i></a>
						<hr>
						<p>Si tienes problemas para ingresar, envíanos un correo a: <a href="mailto:info@gliforumlatam.com">info@gliforumlatam.com</a></p>
					</form>
				</div>
			</div>
		</div>
	</div>